{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html>
    <head>

    		<!-- I know it's bad practice to do CSS like this, but doing CSS outside template is slow for the Raspberry Pi (very noticable difference). -->
    		<!-- These are the things that make me wish I used Flask, not Django. -->
    		<style type="text/css">

    			.body
    			{
    				background-image: url("http://i.imgur.com/iMyvL8x.jpg");
    			}

    			.container
    			{
    				background-image: url("http://i.imgur.com/BTVPIcA.png");
    				padding: 50px 50px 50px 50px;
    				border: 3px solid black;
    				border-radius: 15px 50px 30px:

    			}
    			.relay
    			{
    				
    			}


    		</style>
        <title>Raspberry Pi</title>
        <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
    </head>

    <body>
    {% block content %}
		{% endblock content %}
    </body>
</html>
