{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
<link rel="stylesheet" type="text/css" href="{% static 'relay/style.css' %}" />


{% block content %}
    <h1>Relay Control</h2>
      <div class="container" id="content" tabindex="-1">
        <div title = relay>
          <form action="" method="post" class = "relay">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit" />
          </form>
        </div>
      </div>

    <script type='text/javascript'>
      $(document).ready(function(){
        $('input[name=relay_one]').change(function(){
            $('form').submit();});

        $('input[name=relay_two]').change(function(){
            $('form').submit();});

        $('input[name=relay_three]').change(function(){
            $('form').submit();});

        $('input[name=relay_four]').change(function(){
            $('form').submit();});
      });
    </script>
{% endblock content %}