{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}
      <div class="container" id="content" tabindex="-1">
        

          <h1>Relay Control</h2>
          <form action="" method="post" class = "relay">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" value="Submit" />
          </form>

      </div>

    <script type='text/javascript'>
      $(document).ready(function(){
        $('input[name=relay_one]').change(function(){
            $('form').submit();});

        $('input[name=relay_two]').change(function(){
            $('form').submit();});

        $('input[name=relay_three]').change(function(){
            $('form').submit();});

        $('input[name=relay_four]').change(function(){
            $('form').submit();});
      });
    </script>
{% endblock content %}
